.popup__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: calc(430px + (32px * 2) + 16px);
}

@media screen and (max-width: 880px) {
  .popup__container {
    width: 282px;
  }
}
