.popup__content {
  margin: 0;
  padding: 0;
  /* избегаем выхода своей области из-за контента с любым реальным значением скругления */
  /* не ловим click там где нет контента */
  overflow: visible;
  border-radius: 100%;
}
