.popup__content {
  margin: 0;
  padding: 0;
  grid-area: popup;
  /* избегаем выхода своей области из-за контента с любым реальным значением скругления */
  /* чтобы не ловить click там где нет реального контента */
  overflow: visible;
  border-radius: 100%;
}
