.popup__submit-button {
  background-color: #000000;
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  line-height: 22px;
  margin: 16px 0 0 0;
  padding: 0;
  width: auto;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 880px) {
  .popup__submit-button {
    font-size: 14px;
    height: 46px;
    line-height: 17px;
    margin-top: 13px;
  }
}
