.elements {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px 0 0 0;
}

@media screen and (max-width: 880px) {
  .elements  {
    padding: 36px 27px 0 27px;
  }
}
