.popup__submit-button_disabled {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
  opacity: 0.2;
}

.popup__submit-button_disabled:hover {
  /* из дизайна не ясно должна ли заблокированная кнопка реагировать на hover, и если должны то как 🤷‍♂️ */
  /* переопределяем эффект от hover родительского класса (элемент popup__submit-button) */
  opacity: 0.2;
  cursor: default;
}
