.page {
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Inter','Arial', sans-serif;
  background-color: #000000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}

.header {
  /* HEX-цвет из макета #545454 сконвертирован в RGB */
  /* цвету добавлена прозрачность, значение из макета, свойство opacity: 0.7 */
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  width: 100%;
  max-width: 880px;
  min-width: 320px;
}

@media screen and (max-width: 880px) {
  .header {
    padding: 0 19px;
  }
}

.header__logo {
  margin: 45px 0 41px 0;
  width: 142px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin: 28px 0 31.6px 27px;
    width: 103.74px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  min-width: 282px;
  width: 100%;
}

.profile {
  align-items: center;
  display: flex;
  margin-top: 40px;
  width: 100%;
}

@media screen and (max-width: 880px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

.profile__avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.profile__info {
  align-items: end;
  column-gap: 18px;
  display: grid;
  grid-auto-rows: 48px 26px;
  grid-template-columns: minmax(min-content, 294px) 100%;
  margin-left: 30px;
  width: 100%;
}

@media screen and (max-width: 880px) {
  .profile__info  {
    column-gap: 10px;
    grid-auto-rows: 33px auto;
    grid-template-columns: minmax(min-content, 189px) 24px;
    justify-items: center;
    margin-top: 26px;
    width: auto;
  }
}

.profile__name {
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 880px) {
  .profile__name  {
    font-size: 27px;
    line-height: 33px;
  }
}

.profile__description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 880px) {
  .profile__description  {
    margin-top: calc(14px / 2);
    font-size: 14px;
    line-height: 17px;
  }
}

.profile__edit-button {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/pencil_icon.svg);
  background-color: transparent;
  border: 1px solid #FFFFFF;
  margin: 0 0 calc(24px / 3);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .profile__edit-button {
    margin: 0 0 calc(18px / 3);
    width: 18px;
    height: 18px;
  }
}

.profile__add-button {
  background-color: transparent;
  background-image: url(../images/plus_figure.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  height: 50px;
  width: 150px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .profile__add-button  {
    margin-top: 36px;
    width: 282px;
  }
}

.elements {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (max-width: 880px) {
  .elements  {
    padding: 0 27px;
  }
}

.elements__list {
  align-items: center;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  list-style-type: none;
  margin: 50px 0 0;
  padding: 0;
  width: 100%;
}

.element {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 361px;
  overflow: hidden;
  width: 282px;
}

.element__image {
  height: 282px;
  width: 282px;
}

.element__description {
  align-items: center;
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  height: 100%;
  padding: 0 21px;
  width: 100%;
}

.element__name {
  flex-grow: 1;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  max-width: 215px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.element__like-button {
  background-color: transparent;
  background-image: url(../images/heart_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 19px;
  width: 22px;
  margin-left: 2px;
}

.element__like-button:hover {
  opacity: 0.6;
}

.footer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  max-width: 880px;
  min-width: 282px;
  padding: 66px 0 60px 0;
  width: 100%;
}

@media screen and (max-width: 880px) {
  .footer  {
    padding: 48px 18px 36px 18px;
  }
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 880px) {
  .footer__copyright  {
    font-size: 14px;
    line-height: 17px;
  }
}
