.footer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  max-width: 880px;
  min-width: 282px;
  padding: 66px 0 60px 0;
  width: 100%;
}

@media screen and (max-width: 880px) {
  .footer  {
    padding: 48px 18px 36px 18px;
  }
}
