.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0 0 calc(54px - 8px);
  padding: 0;
  width: auto;
}

@media screen and (max-width: 880px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 75px;
  }
}
